body {
    text-align: center;
    background-color: thistle;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.7em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 30px;
}

td {
    width: 30px;
}

input[type=number] {
    width: 6em;
}

input[type=submit]{
    padding: 0.1em 1em;
}
